.project-4 {
    background-image: url('../media/to-do-list.png?version%3D1754668594710');
    background-size: cover;
}

.project-3 {
    background-image: url('../media/ChatGPT\ Image\ Aug\ 8\,\ 2025\,\ 09_41_19\ PM\ \(1\).png');
    background-size: cover;
}

.project-2 {
    background-image: url('../media/text-manipulation.png');
    background-size: cover;
}

.project-1 {
    background-image: url('../media/table-of-110.png');
    background-size: cover;
}

.project-5 {
    background-image: url('../media/stopwatch.png');
    background-size: cover;
}

.project-0 {
    background-image: url('../media/home.png');
    background-position: 60%;
    background-size: cover;
}

.project-6 {
    background-image: url('../media/etch_a_sketch.png');
    background-size: cover;
}

