* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif   ;
  transition: 0.3s;
}

.page-width {
  max-width: 1600px;
  margin: auto;
}

.header-logo--logo {
  width: 80px;
  height: 80px;
}

.header-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;

}

.header-search-bar input {
  padding: 10px;
  font-size: 16px;
  border-radius: 100px;
  width: 400px;
  outline: none;
}

.header-search-bar button,.input-table button,.text-maipulation-input button{
  padding: 10px;
  border-radius: 100px;
  font-size: 16px;
  border: 2px solid black;
}

.header-search-bar button:active {
  background-color: gray;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-links ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 16px;
}

.header-links ul a {
  color: black;
}

.header-links ul a:hover {
  color: gray;
}

.header-wrapper {
  border-bottom: 2px solid black;
}

.banner-inner {
 
  display: flex;
  align-items: center;
  justify-content: center;
}
.height {
   height: 500px;
}
.theme-changer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
   cursor: pointer;
   user-select: none;
}

.theme-changer p {
  padding: 10px
}

.banner-grid {
  width: 500px;
  text-align: center;
  font-size: 20px;
}

.banner-grid a {
  color: black;
}

.banner-grid h2 {
  padding-bottom: 10px;
}

.theme-box {
  width: 50px;
  border: 2px solid black;
  border-radius: 100px;
  padding: 2px;
 
}

.theme-ball {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 100px;
  transition: 0.3s;
  background-color: black;
}

.button {
  display: inline-block;
  border: 2px solid red;
  padding: 13px 36px;
  margin: 10px;
  border-radius: 100px;
}

.color-white {
  color: white !important;
  background-color: black;
  border-color: white !important;
}
.color-white button{
  background-color: black;
  border-color: white;
  color:white;
}
.color-white input {
  color:white;
  background-color: black;
  border-color: white !important;
} 
.color-white li {
  border-color:white !important;
}
.pop-up-grid {
  width: 700px;
  height: 400px;
  position: relative;
  background: linear-gradient(white, gray, black);
  backdrop-filter: blur(100px);
  border-radius: 40px;
  animation: myanimation 1s;
  text-align: center;
  overflow: hidden;
  box-shadow: -25px 25px 25px #0005;
  transition: 0.3s;
}
.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%, -50%);
}

.welcome-text {
  margin: 20px;
  font-size: 30px;
}

.pop-up-image {
  height: 300px;
  width: 180px;
}
.pop-up-wrapper {
  display: none;
}
.pop-up-text-main {

  display: flex;
}

.pop-up-para {
  width: 400px;
  text-align: left;
  padding-left: 30px
}

@keyframes myanimation {
  0% {
    width: 10px;
    transform: skew(30deg);
  }

  100% {
    width: 700px;
    transform: skew(0deg);
  }
}

.pop-up-button {
  text-align: center;
  margin: 50px auto;
}

.pop-up-button button {
  padding: 13px 36px;
  border-radius: 100px;
  border: 2px inset red;
  background-color: black;
  color: white;
}
.tabel-main-grid {
  border:5px inset black;
  padding:10px;
  width: fit-content;

}
.table-inner {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.input-table {
    padding-top:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px
}
.input-table input {
  padding:10px;
  width:200px;
  border-radius: 100px;
}
.tabel-main-grid {
  margin: 40px auto;
  font-size: 22px;
}
.disable {
  display: none;
}
.enable {
  display: block;
}

.text-maipulation-result {
  width:400px;
  height:200px;
  border:2px solid black;
  margin: 20px;
  padding:10px;
  border-radius:10px;
  text-align: center;
  overflow-wrap: break-word;
  overflow:auto;
}
.text-maipulation-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.text-maipulation-input input{
  padding:10px;
  width:200px;
  /* font-size:; */
  border-radius: 100px;
}
.text-maipulation-buttons button{
  padding:13px 36px;
  border-radius: 20px;
}
.text-maipulation-buttons input{
  width:60px;
  height:40px;
  border-radius:20px
}
.text-maipulation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
}
.your_text {
  border-bottom: 1px solid red;
  padding:5px;

}
.text-maipulation-input {
  font-weight: normal;
  font-size: 15px;
}
.output_text {
  padding:15px;
}
.page {
  animation: page-animation 0.6s;
}
.page-container {
  height: 510px;
  overflow: hidden;
  border-bottom:2px solid black;
}
@keyframes page-animation {
  0%{
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.to-do-list-edit-button button{
  color:black !important;
  background-color: greenyellow !important;
  padding: 13px 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 20px;
}
.to-do-list-input input{
  padding:10px;
  width:300px;
  border-radius: 100px;
  outline: none;
}
.to-do-list-input button {
  padding:10px;
  border-radius: 100px;
}
.to-do-list-edit-container {
  display: flex;
  flex-direction: column;
  padding:50px;
  gap:100px;
}
.to-do-list-grid {
display: flex;
justify-content: space-around;
align-items: center;
}
.to-do-list-edit-main-page {
  width:600px;
  overflow: auto;
  height: 450px;
  margin-top: 30px;
  border-radius: 10px;
  border: 5px inset black;
}
.to-do-list-edit-main-page-heading {
  padding:10px;
  color:red;
  text-align: center;
  border-bottom:2px solid black;
}
.to-do-list li {
  margin:5px;
  font-size: 18px;
  padding-left:10px ;
  border: 2px solid black;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: to-do-list-animation 0.3s;
}
@keyframes to-do-list-animation  {
  0%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}

.to-do-list button {
  font-size: 18px;
  border-radius: 0px 100px 100px 0px;
  padding:5px;
  border:none ;
  border-left:2px solid black;
  background-color: red;
  color: white;
}